[main]
key = FFFFFFFFFFFF
door = testing
id_block = 1
key_block = 3

[fetch]
endpoint = file://path/to/keyfile
api_key = myapikeyhere

[db]
dsn = dbi:SQLite:/path/to/db
type = SQLite
database = /path/to/db
host =
port =
username = test
password = test
